.App {text-align: center;}
#root{display: flex;justify-content: center;}
#quest_app{margin: 0;}



.image_store{width: 50vw;}
.image_store>img{width: 100%;}
.image_store>video{width: 100%;}
.start_frame{margin: 2rem;}