.App {text-align: center;}
#root{display: flex;justify-content: center;}
#quest_app{margin: 0;}

.image_store{position: relative;max-height: 100%;max-width: 100%;
  height: 30rem;width: 48rem;
  background-color: gray;display: flex;justify-content: center;}
.image_store>*{position: absolute;;max-height:100%;margin: auto;max-height: 100%;
  top: 0; left: 0; right: 0; bottom: 0;}
.image_store{height: 40vh;width: 40vw;}